<!doctype html>
<html lang="en">
{{> head}}

<body>
	{{> navbar}}
	<div id="rootContainer">
		<form action="/login" method="POST" class="login-form">
			<h1 class="title">Sign In</h1>
			<div class="input-text">
				<input type="text" name="user" placeholder="Enter username" value="{{user}}">
			</div>
			<div class="input-text">
				<input type="password" name="pass" placeholder="Enter password" value="">
			</div>
			<input type="submit" class="submit-button" value="Login">
			<div class="signup-text">
				Don't have an account? <a href="/register">Register</a>
			</div>
			{{#if msg}}
			<p class="msg">{{msg}}</p>
			{{/if}}
		</form>
	</div>
	{{> footer}}

</body>
{{> scripts}}

</html>