<!doctype html>
<html lang="en">
{{> head}}

<body>
	{{> navbar}}
	<div id="rootContainer">
		<h1>Create an Account</h1>
		<form action="/register" enctype="multipart/form-data" method="post">
			<p>Username:<br /><input type="text" name="user" placeholder="your preferred username (no spaces)" value="">
			</p>
			<p>Password:<br /><input type="password" name="pass" placeholder="your chosen password" value=""></p>
			<p>Profile Picture:<br /><input type="file" name="avatar"></p>
			<p><input type="submit" value="Create"></p>
		</form>
	</div>
	{{> footer}}
</body>

{{> scripts}}

</html>