<footer id="footerContainer">
  
   <article>
     <a href="/"><img src="../avatars/logo3.png" alt="logo" width=150px class="logo"></a>
     
    <h3>About Us</h3>
        <p>We do repair stuff, indeed!</p>    
         
   </article>

   <article>
       <h3>Explore</h3>

            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/user">Profile</a></li>
            <li><a href="/reviews">Reviews</a></li>


       <h3>Contact Us</h3>
        <li><i class="fa fa-phone"></i> +44 1234 567 890</li>
        <li><i class="fa fa-envelope"></i><a href="mailto:repairs@admin.co.uk"> repairs@admin.co.uk</a></li>

   </article>
   <article>
       <h3>More Links</h3>
         
            <li><a href="/contacts">Support</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>


       <h3>Social</h3>
          <article class="socials">
            <li><a href="#"><i class="fa fa-github"></i></a>
            <li><a href="#"><i class="fa fa-instagram"></i></a>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
          </article>
   </article>
    <article>
        <h3>Join the Newsletter</h3>
        <form action="#">
            <input type="text" placeholder="Email">
            <input type="submit" value="Subscribe" class="button">

        </form>


   </article>
   <section>
        &copy;2019, Domestic Repairs
   </section>

</footer>