<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <link href="/styles/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/styles/nav-offline.css" type="text/css" rel="stylesheet" />
    <link href="/styles/home.css" type="text/css" rel="stylesheet" />
    <link href="/styles/settings.css" rel="stylesheet" type="text/css" />
    <link href="/styles/user-dashboard.css" rel="stylesheet" type="text/css" />

    {{#if layout}}
    <link href="/styles/{{layout}}.css" type="text/css" rel="stylesheet" />

    {{/if}}

    <!-- Add import for offline nav -->

</head>