<article>
    <span>
        <h2>Id.</h2>
        <h3>Issue title</h3>
    </span>
    <p>Type: </p>
    <p>Age: {</p>
    <p>Manufacturer:</p>
    <h4>Pending</h4>

    <button action="#">Provide Quote</button>




</article>