<!doctype html>
<html lang="en">
{{> head}}

<body>
    {{> navbar}}
    {{#if_eq navbarType 'online' }}
    {{> aside}}
    {{/if_eq}}
    <div id="rootContainer">
        <h1>This is my settings page</h1>
    </div>
    {{> footer}}
</body>
{{> scripts}}

</html>