<!doctype html>
<html lang="en">
{{> head}}

<body>
    {{> navbar}}
    {{#if_eq navbarType 'online' }}
    {{> aside}}
    {{/if_eq}}
    <div id="rootContainer">
        <h1 id="teamHeader">Meet our Team!</h1>
        <main class="cards">
            <section class="card">
                <!-- Make sure your image is square i.e. same width and height! -->
                <img src="/avatars/cj.jpg" />
                <article class="card-body">
                    <h4>Cobi Hopkins</h4>
                    <p>Front-End Developer</p>
                    <ul>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:hopkin70@coventry.ac.uk">hopkin70@coventry.ac.uk</a></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i> <a
                                href="https://twitter.com/bscwebdeveloper" target="_blank">@BScWebDeveloper</a></li>
                        <li><i class="fa fa-instagram" aria-hidden="true"></i> <a
                                href="https://www.instagram.com/cobihopkins/" target="_blank">#CobiHopkins</a>
                        </li>
                        <li><i class="fa fa-github" aria-hidden="true"></i> <a href="https://www.github.com/cobihopkins"
                                target="_blank">CobiHopkins</a>
                        </li>
                </article>
            </section>

            <section class="card">
                <img src="/avatars/avatar.png" />
                <article class="card-body">
                    <h4>Armandas Barkauskas</h4>
                    <p>Back-End Developer</p>
                    <ul>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:barkausa@coventry.ac.uk">barkausa@coventry.ac.uk</a></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i> <a href="#"
                                target="_blank">@TwitterHandle</a></li>
                        <li><i class="fa fa-instagram" aria-hidden="true"></i> <a href="#"
                                target="_blank">#InstaHandle</a></li>
                        <li><i class="fa fa-github" aria-hidden="true"></i> <a href="#" target="_blank">Github
                                Username</a></li>
                </article>
            </section>

            <section class="card">
                <img src="/avatars/avatar.png" />
                <article class="card-body">
                    <h4>Kristaps Ruments </h4>
                    <p>Front-End Developer</p>
                    <ul>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:rumentsk@coventry.ac.uk">rumentsk@coventry.ac.uk</a></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i> <a href="#"
                                target="_blank">@TwitterHandle</a></li>
                        <li><i class="fa fa-instagram" aria-hidden="true"></i> <a href="#"
                                target="_blank">#InstaHandle</a></li>
                        <li><i class="fa fa-github" aria-hidden="true"></i> <a href="#" target="_blank">Github
                                Username</a></li>
                </article>
            </section>

            <section class="card">
                <img src="/avatars/avatar.png" />
                <article class="card-body">
                    <h4>Osamuyime Izekor</h4>
                    <p>Back-End Developer</p>
                    <ul>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:izekoro@coventry.ac.uk">izekoro@coventry.ac.uk</a></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i> <a href="#">@TwitterHandle</a></li>
                        <li><i class="fa fa-instagram" aria-hidden="true"></i> <a href="#"
                                target="_blank">#InstaHandle</a></li>
                        <li><i class="fa fa-github" aria-hidden="true"></i> <a href="#" target="_blank">Github
                                Username</a></li>
                </article>
            </section>

            <section class="card">
                <img src="/avatars/avatar.png" />
                <article class="card-body">
                    <h4>Lucas Oliveira</h4>
                    <p>Front-End Developer</p>
                    <ul>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:lopesoll@coventry.ac.uk">lopesoll@coventry.ac.uk</a></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i> <a href="#"
                                target="_blank">@TwitterHandle</a></li>
                        <li><i class="fa fa-instagram" aria-hidden="true"></i> <a href="#"
                                target="_blank">#InstaHandle</a>
                        </li>
                        <li><i class="fa fa-github" aria-hidden="true"></i> <a href="#" target="_blank">Github
                                Username</a></li>
                </article>
            </section>

            <section class="card">
                <img src="/avatars/avatar.png" />
                <article class="card-body">
                    <h4>Ruihao Wang</h4>
                    <p>Back-End Developer</p>
                    <ul>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:wangr34@coventry.ac.uk">wangr34@coventry.ac.uk</a></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i> <a href="#"
                                target="_blank">@TwitterHandle</a></li>
                        <li><i class="fa fa-instagram" aria-hidden="true"></i> <a href="#"
                                target="_blank">#InstaHandle</a></li>
                        <li><i class="fa fa-github" aria-hidden="true"></i> <a href="#" target="_blank">Github
                                Username</a></li>
                </article>
            </section>

            <section class="card">
                <img src="/avatars/avatar.png" />
                <article class="card-body">
                    <h4>Seif Abdulazim</h4>
                    <p>Front-End Developer</p>
                    <ul>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:abdula26@coventry.ac.uk">abdula26@coventry.ac.uk</a></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i> <a href="#"
                                target="_blank">@TwitterHandle</a></li>
                        <li><i class="fa fa-instagram" aria-hidden="true"></i> <a href="#"
                                target="_blank">#InstaHandle</a></li>
                        <li><i class="fa fa-github" aria-hidden="true"></i> <a href="#" target="_blank">Github
                                Username</a></li>
                </article>
            </section>
        </main>
    </div>
    {{> footer}}
</body>
{{> scripts}}

</html>