<!doctype html>
<html lang="en">
{{> head}}

<body>
    {{> navbar}}
    {{#if_eq navbarType 'online' }}
    {{> aside}}
    {{/if_eq}}
    <div id="rootContainer">
        <h1>Contacts</h1>
        <ul>
            <li>
                barkausa <a href="https://www.instagram.com/armandasbarkauskas/" target="_blank">instagram</a>
            </li>
            <li>
                hopkin70
            </li>
            <li>
                rumentsk
            </li>
            <li>
                lopesoll
            </li>
            <li>
                izekoro
            </li>
            <li>
                wangr34
            </li>
            <li>
                abdula26
            </li>
        </ul>
    </div>
    {{> footer}}
</body>
{{> scripts}}

</html>