<!doctype html>
<html lang="en">
{{> head}}

<body>
	{{> navbar}}
	<div id="rootContainer">
		<section class="top-display">
			<h1>Welcome to Domestic Repairs!</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed iaculis lorem, eu convallis nulla.
				Lorem
				Ipsum dolor sit amet.</p>
			<form>
				<fieldset>
					<button type="button">Learn More!</button>
				</fieldset>
			</form>
		</section>
	</div>
	{{> footer}}
</body>
{{> scripts}}

</html>