<!doctype html>
<html lang="en">
{{> head}}

<body>
	{{> navbar}}
	<div id="rootContainer">
		<h1>{{title}}</h1>
		<p>Welcome to Demestic Repairs. We glad that you chose our service ;p</p>
	</div>
	{{> footer}}
</body>
{{> scripts}}

</html>