<!doctype html>
<html lang="en">
{{> head}}



<body>
    {{> navbar}}
    {{#if_eq navbarType 'online' }}
    {{> aside}}
    {{/if_eq}}

    <div id="rootContainer">
        <h1 id="teamHeader">Your Review</h1>
        <section class="reviews">
            {{#each reviewsCards}}
            <article>
                <p><span class="bold">Order ID:</span> {{name}}</p>
                <p><span class="bold">Age:</span> {{stars}}</p>
                <p><span class="bold">Manufacturer:</span> {{review}}</p>
                <hr>
            </article>
            {{/each}}
        </section>

        <br>
        <a href="/newreview">Give us your review</a>

    </div>
    <br>
    {{> footer}}
</body>

{{> scripts}}

</html>