<!doctype html>
<html lang="en">
{{> head}}

<body>
    {{> navbar}}
    {{> aside}}
    <div id="rootContainer">
        <h1 class="page-title">Pending orders</h1>
        <section class="pending">
            {{> orderCard}}
        </section>

    </div>
    {{> footer}}
</body>
{{> scripts}}

</html>