<!doctype html>
<html lang="en">
{{> head}}

<body>
    {{> navbar}}
    {{> aside}}
    <div id="rootContainer">
        <h1>{{title}}</h1>
        <h4>Welcome, <span style="color:brown">{{username}}</span></h4>
        <p>This is the user dashboard. this route is secure</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Interdum velit laoreet id donec ultrices tincidunt arcu non sodales. 
            Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Enim ut sem viverra aliquet eget sit amet. 
            Diam maecenas sed enim ut sem. Eget mauris pharetra et ultrices neque ornare. Viverra orci sagittis eu volutpat 
            odio facilisis mauris sit. Ut lectus arcu bibendum at varius vel pharetra vel. Ac turpis egestas integer eget aliquet 
            nibh praesent tristique magna. Fermentum leo vel orci porta non. Eget aliquet nibh praesent tristique magna sit amet 
            purus gravida. In pellentesque massa placerat duis ultricies.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Interdum velit laoreet id donec ultrices tincidunt arcu non sodales. 
            Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Enim ut sem viverra aliquet eget sit amet. 
            Diam maecenas sed enim ut sem. Eget mauris pharetra et ultrices neque ornare. Viverra orci sagittis eu volutpat 
            odio facilisis mauris sit. Ut lectus arcu bibendum at varius vel pharetra vel. Ac turpis egestas integer eget aliquet 
            nibh praesent tristique magna. Fermentum leo vel orci porta non. Eget aliquet nibh praesent tristique magna sit amet 
            purus gravida. In pellentesque massa placerat duis ultricies.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Interdum velit laoreet id donec ultrices tincidunt arcu non sodales. 
            Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Enim ut sem viverra aliquet eget sit amet. 
            Diam maecenas sed enim ut sem. Eget mauris pharetra et ultrices neque ornare. Viverra orci sagittis eu volutpat 
            odio facilisis mauris sit. Ut lectus arcu bibendum at varius vel pharetra vel. Ac turpis egestas integer eget aliquet 
            nibh praesent tristique magna. Fermentum leo vel orci porta non. Eget aliquet nibh praesent tristique magna sit amet 
            purus gravida. In pellentesque massa placerat duis ultricies.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Interdum velit laoreet id donec ultrices tincidunt arcu non sodales. 
            Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Enim ut sem viverra aliquet eget sit amet. 
            Diam maecenas sed enim ut sem. Eget mauris pharetra et ultrices neque ornare. Viverra orci sagittis eu volutpat 
            odio facilisis mauris sit. Ut lectus arcu bibendum at varius vel pharetra vel. Ac turpis egestas integer eget aliquet 
            nibh praesent tristique magna. Fermentum leo vel orci porta non. Eget aliquet nibh praesent tristique magna sit amet 
            purus gravida. In pellentesque massa placerat duis ultricies.
        </p>


    </div>
    {{> footer}}
</body>
{{> scripts}}

</html>