<!doctype html>
<html lang="en">
{{> head}}

<body>
    {{> navbar}}
    {{> aside}}
    <div id="rootContainer">
        <h1 class="page-title">Report a new fault</h1>
        <div class="card-container">
            <form action="/order/create" method="POST" class="form-inline" id="report-form">
                <h3 class="section-title">Type of appliance</h3>
                <section>
                    <select name="applianceType">
                        <option value="toilet">Toilets</option>
                        <option value="kitchen">Kitchen</option>
                    </select>
                    <p class="mx-8"> or </p>
                    <input name="applianceTypeCustom" type="text" placeholder="custom type" />
                    <!--<input type="button" onclick="clearAppliance()" value="Clear">-->
                </section>

                <h3 class="section-title">Appliance manufacturer</h3>
                <section>
                    <select name="applianceManufacturer">
                        <option value="0">Gerda</option>
                        <option value="1">Beko</option>
                        <option value="2">Samsung</option>
                    </select>
                    <p class="mx-8"> or </p>
                    <input name="applianceTypeCustom" type="text" placeholder="custom manufacturer" />
                    <!--<input type="button" onclick="clearManufacturer()" value="Clear"/>-->
                </section>

                <h3 class="section-title">Appliance age</h3>
                <section>
                    <select name="applianceAge">
                        <option value="0">brand new</option>
                        <option value="1">1 year</option>
                        <option value="2">2 years</option>
                        <option value="3">3 years</option>
                        <option value="4">4 years</option>
                        <option value="5">5 years</option>
                        <option value="6">6 years</option>
                        <option value="7">7 years</option>
                        <option value="8">8 years</option>
                        <option value="9">9 years</option>
                        <option value="10">10 years</option>
                    </select>
                </section>

                <h3 class="section-title">Describe an issue</h3>
                <section>
                    <textarea name="issue" rows="4" cols="50" placeholder="Issue goes here"></textarea>
                </section>
                <section>
                    <input type="button" onclick="clearAll()" value="Clear all"/>
                    <input type="submit" />
                </section>
            </form>
        </div>
    </div>
    {{> footer}}
</body>
{{> scripts}}
<script>

</script>
</html>