<!doctype html>
<html lang="en">
{{> head}}

<body>
    {{> navbar}}
    {{> aside}}
    <div id="rootContainer">
        <h1>Place a new order/ Report a fault HERE</h1>
        <p>this route is secure</p>
    </div>
    {{> footer}}
</body>
{{> scripts}}

</html>