<!doctype html>
<html lang="en">
{{> head}}

<body>
    {{> navbar}}
    {{> aside}}
    <div id="rootContainer">
        <h1>this is a test or something</h1>
    
    </div>
    {{> footer}}
</body>
{{> scripts}}

</html>