@font-face {
	font-family: 'Livvic';
	src: url('/styles/fonts/Livvic/Livvic-Regular.ttf') format('truetype');
}

body {
	display: grid;
	grid-template-areas:
		'header header'
		'nav article'
		'nav footer';
	grid-template-rows: 64px 3fr 1fr;
	grid-template-columns: 20% 1fr;

	height: 100vh;
	margin: 0;
}

#headerContainer {
	grid-area: header;
}
#footerContainer {
	grid-area: footer;
}
#rootContainer {
	grid-area: article;
	padding: 8px 24px;
}
#navContainer {
	grid-area: nav;
}

footer {
	bottom: 0;

	padding-bottom: 0;
	padding-top: 0;
	background: #353b3c;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Livvic' !important;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer article {
	padding: 30px;
	background: #353b3c;
	color: #eef0f2;
}

footer li {
	list-style-type: none;
}

footer li a {
	text-decoration: none;
	color: #eef0f2;
}

footer h3 {
	color: #2ecc71;
}

footer a:hover {
	text-decoration: underline;
}

footer li {
	list-style-type: none;
	padding: 5px 5px 5px 0;
	margin: 0;
}

footer section {
	background: #353b3c;
	grid-column: 1/5;
	text-align: center;
	color: #eef0f2;
	font-size: 10px;
	padding-bottom: 10px;
}

article .logo {
	padding-bottom: 80px;
}

.socials {
	font-size: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0;
}

.socials i:hover{
	color: #2ecc71
}


.fa-phone,
.fa-envelope {
	font-size: 17px;
}

p a {
	color: #eef0f2;
	text-decoration: none;
}

footer form input {
	padding: 10px;
	margin: 10px 0px 10px 0;
	border: none;
	width: 92%;
}

form .button {
	display: block;
	border-radius: 2px;
	font-family: 'Livvic' !important;
	width: auto;

}

form .button:hover{
	background: #2ecc71;
	color: white;
}


/* Stack the layout on small devices/viewports. */
@media all and (max-width: 850px) {
	body {
		grid-template-areas:
			'header'
			'nav'
			'article'
			'footer';
		grid-template-rows: 1fr 2fr 1fr;
		grid-template-columns: 1fr;
	}

	footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

/* ============================
	START Sidebar
	=========================== */

#navContainer {
	margin: 0;
	padding: 0;
}

.dark-card h2 {
	margin: 0;
	color: #c6c7c6;
	font-size: 20px;
	padding: 24px 0 0 10px;
	text-align: center;
}

.dark-card h3 {
	margin: 32px 0 0 0;
	color: #c0c5bb;
	padding-left: 4px;
}

aside#navContainer {
	/* #202325*/
	background: linear-gradient(120deg, #2c6e12, #23664a);
	font-family: 'Livvic' !important;
}

#navContainer ul {
	padding: 0;
	margin: 0 8px 0;
}

#navContainer ul li {
	color: rgba(231, 229, 229, 0.88);
	list-style: none;
	margin-right: 16px;
	border-bottom: 1px solid #04522e;
}

#navContainer ul li:hover {
	color: rgba(207, 204, 204, 0.88);
	background: #348352;
}

.separator {
	margin: 6px auto 0 auto;
	width: 60%;
	height: 2px;
	background: rgb(25, 56, 28);
}

.dark-card a {
	display: block;
	padding: 12px 10px;
	text-decoration: none;
	color: #dfe6e9;
}

.menu-card {
	padding-left: 16px;
}

.dark-card:last-child {
	margin-bottom: 32px;
}

.dark-card {
	position: sticky;
	top: 0px;
}

/* ============================
	END Sidebar
	=========================== */
