@font-face {
	font-family: 'Livvic';
	src: url('/styles/fonts/Livvic/Livvic-Regular.ttf') format('truetype');
}

body {
	display: grid;
	grid-template-areas:
		'header'
		'article'
		'footer';
	grid-template-rows: 80px 1fr 70px;
	grid-template-columns: 1fr;

	height: 100vh;
	margin: 0;
}

#headerContainer {
	grid-area: header;
}
#footerContainer {
	grid-area: footer;
}
#rootContainer {
	grid-area: article;
}
#navContainer {
	grid-area: nav;
}

footer {
	background: #353b3c;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Livvic' !important;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer article {
	padding: 30px;
	background: #353b3c;
	color: #eef0f2;
}

footer li {
	list-style-type: none;
	padding: 5px 5px 5px 0;
	margin: 0;
}

footer li a {
	text-decoration: none;
	color: #eef0f2;
}

footer h3 {
	color: #2ecc71;
}

footer a:hover {
	text-decoration: underline;
}

section {
	background: #353b3c;
	grid-column: 1/5;
	text-align: center;
	color: #eef0f2;
	font-size: 10px;
	padding-bottom: 10px;
}

article .logo {
	padding-bottom: 80px;
}

.socials {
	font-size: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0;
}

.fa-phone,
.fa-envelope {
	font-size: 17px;
}

p a {
	color: #eef0f2;
	text-decoration: none;
}

input {
	padding: 10px;
	margin: 10px 0px 10px 0;
	border: none;
}

form .button {
	display: block;
	border-radius: 2px;
}
.logo {
	padding: 0;
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
	body {
		grid-template-areas:
			'header'
			'article'
			'footer';
		grid-template-rows: 80px 1fr 70px;
		grid-template-columns: 1fr;
	}
}
