body {
	display: grid;
	grid-template-areas:
		'header'
		'article'
		'footer';
	grid-template-rows: 80px 1fr 70px;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	height: 100vh;
	margin: 0;
}
header,
/*footer,
article,*/
nav,
aside,
div {
	padding: 1.2em;
	background: #d2d2d2;
}
#headerContainer {
	grid-area: header;
}
#footerContainer {
	grid-area: footer;
}
#rootContainer {
	grid-area: article;
}
#navContainer {
	grid-area: nav;
}

footer {
	background: #353B3C;
	font-family: 'Open Sans', sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	
}

footer article{
	padding: 30px;
	background: #353B3C;
	color: #EEF0F2;
}

footer li{
	list-style-type: none;
}

footer li a{
	text-decoration: none;
	color: #EEF0F2;
}

footer h3{
	color:#2ECC71;
}

section{
	background: #353B3C;
	grid-column: 1/5;
	text-align: center;
	padding-bottom: 20px;
}

.socials{
	font-size: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0;
}

.fa-phone, .fa-envelope{
	font-size: 17px;
}

p a{
	color: #EEF0F2;
	text-decoration: none;
}


input{
	padding: 10px;
	margin: 10px 0px 10px 0;
	border: none;
	
}

form .button{
	display: block;
	border-radius: 2px;
	
}
.logo{
	padding: 0;
}
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
	body {
		grid-template-areas:
			'header'
			'article'
			'footer';
		grid-template-rows: 80px 1fr 70px;
		grid-template-columns: 1fr;
	}
}
