//Colors
$_defaultWhite: #ffffff;
$_defaultBlack: #000000;
$_draculaOrchid: #2d3436;
$_lightgray: #dfe6e9;
$_soothingbreeze: #b2bec3;
$_chigong: #d63031;
$_mintgreen: #0be881;
$_dark: #2d2522;
$_darkred: #8f3e43;
$_lightgray: #f9f5f6;
$_white: #ffffff;
$_watermelon: #ff4757;

//Add down here
